@import url('https://fonts.googleapis.com/css2?family=Fredoka:wght@300;400;700&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Hurricane&display=swap');
*{
    margin: 0px;
    padding: 0px;
    box-sizing: border-box;
    font-family: 'Fredoka', sans-serif;
    list-style: none;
}
.header{
    width: 100% auto;
    height: 120px;
    padding: 35px;
    background-color: #ffffff;
    position: relative;
    display: flex;
    align-items: center;
    justify-content: space-between;
}
.logo_header{
    margin-left: 20px;
}
.st_logo_web_header{
    text-decoration: none;
    color: rgb(0, 0, 0);
    font-family: 'Hurricane', cursive;
    font-size: 70px;
    font-weight: 600;
    letter-spacing: 10px;
}

.s img{
    width: 20px;
    height: 20px;
    margin: 15px;
    padding: 1px;
    display: inline-block;
    position: relative;
    transition: 0.5s;
}
.user:hover{
    border-bottom: 1px solid rgb(0, 0, 0);
}
.search:hover{
    position: relative;
    border-bottom: 1px solid rgb(0, 0, 0);
}
.shopping_bag:hover{
    position: relative;
    border-bottom: 1px solid rgb(0, 0, 0);
}
.menu:hover{
    position: relative;
    border-bottom: 1px solid rgb(0, 0, 0);
}
.navbar ul{
    list-style: none;
    display: flex;
}
.navbar ul li{
    position: relative;
    padding-top: 48px;
    padding-left: 22px;
    padding-right: 22px;
    padding-bottom: 48px;
}
.navbar ul li a{
    color: #000000;
    text-decoration: none;
    font-size: 18px;
    font-weight: 600;
    letter-spacing: 2px;
}
.navbar ul li a:after{
    content: '';
    display:block;
    height: 2px;
    width: 0%;
    background: rgb(0, 0, 0);
    transition: width .3s ease-in-out;
}
.navbar ul li a:hover:after{
    width: 100%;
}
.dropdown__menu_pagse{
    display: none;
}
.navbar ul li:hover .dropdown__menu_pagse{
    display: block;
    position: absolute;
    left: 0;
    top: 100%;
    background-color:#ffffff;
    border-top: 1px solid rgb(0, 0, 0);
}
.dropdown__menu_pagse ul li a{
    font-size: 16px;
    font-weight: 320;
    letter-spacing: 1px;
}
.dropdown__menu_pagse ul li a:after{
    content: '';
    display:block;
    height: 0px;
    width: 0%;
    background: rgb(255, 255, 255);
    transition: width .3s ease-in-out;
}
#hienboder{
    border-bottom: 1px solid black;
}
.dropdown__menu_pagse ul li a:hover{
    color:#8c8274;
}
.dropdown__menu_pagse ul li a:hover::after{
    width: 100%;
}
.dropdown__menu_pagse ul{
    display:block;
    padding-top: 25px;
    width: 200px;
}
.dropdown__menu_pagse ul li{
    padding-top: 12px;
    padding-bottom: 15px;
}


#wishList{
    margin-top: 100px;
    width: 1200px;
    margin-right: auto;
    margin-left: auto;
}
#noWishlist{
    width: 1200px;
    margin-right: auto;
    margin-left: auto;
}
#noWishlist p{
    float: left;
    font-size: 20px;
    margin-left: 50px;
    margin-top: 20px;
    margin-bottom: 20px;
    padding-top: 15px;
    padding-bottom: 15px;
}
#noWishlist button{
    float: right;
    background-color: black;
    color: white;
    border: 2px solid black;
    font-size: 18px;
    padding: 15px 40px;
    font-weight: bold;
    letter-spacing: 2px;
    margin-right: 50px;
    margin-top: 20px;
    margin-bottom: 20px;
}
#noWishlist button:hover{
    background-color: white;
    color: black;
}
.banner{
    background-color: black;
    color: white;
    height: 130px;
}
#proPrice:before{
    content: "$";
}
td a:hover{
    color: black;
}
td a {
    color: black;
    text-decoration: none;
}
table{
    border-spacing: 0px;
}
tbody td{
    width: 1200px;
    height: 120px;
    padding-bottom: 30px;
    padding-top: 30px;
    border-bottom: 1px solid black;
}
#link{
    width: 1200px;
    margin: 50px auto;
}
#link p{
    float: left;
    font-size: 20px;
    margin-left: 50px;
    margin-top: 20px;
    margin-bottom: 20px;
    padding-top: 15px;
    padding-bottom: 15px;
}
#link button{
    float: right;
    background-color: black;
    color: white;
    border: 2px solid black;
    font-size: 18px;
    padding: 15px 40px;
    font-weight: bold;
    letter-spacing: 2px;
    margin-right: 50px;
    margin-top: 20px;
    margin-bottom: 20px;
}
#link button:hover{
    background-color: white;
    color: black;
}

/* footerrrrrrrrrrrrrrrrrrrrrrrrrrrrrrrrrrrr */
.footer{
    margin-top: 120px;
    height: 140px;
    background: #000000;
    padding: 170px;
    display: flex;
    align-items: center;
    justify-content: space-between;
}
.st_logo_web{
    text-decoration: none;
    color: rgb(255, 255, 255);
    font-family: 'Hurricane', cursive;
    font-size: 70px;
    font-weight: 600;
    letter-spacing: 10px;
}
.chu_footer{
    color: white;
    margin-top: 15px;
    width: 300px;
    margin-bottom: 15px;
}
.shopping{
    color: #e8e6e3;
}
.c_shopping{
    letter-spacing: 5px;
    font-weight: bolder;
    font-size: 17px;
}
.nd_shopping{
    margin-top: 35px;
    width: 80px ;
}
.nd_shopping a{
    text-decoration: none;
    color:#e8e6e3;
    letter-spacing: 1px;
    font-size: 17px;
}
.nd_shopping a:hover{
    color: #8c8274;
}
.nd_company{
    margin-top: 35px;
    width: 120px ;
}
.nd_company a{
    text-decoration: none;
    color:#e8e6e3;
    letter-spacing: 1px;
    font-size: 17px;
}
.nd_company a:hover{
    color: #8c8274;
}
.nd_sub{
    margin-top: 0px;
    letter-spacing: 2px;
    font-weight: bolder;
    font-size: 17px;
    color:#e8e6e3;
}
.input{
    margin-top: 35px;
}
.st_input_FOOTER{
    border: 0;
    width: 270px;
    margin-top: 0px;
    padding: 25px;
    outline: none;
    background: #000000;
    border-bottom: 2px solid #8c8274;
    font-size: 17px;
    color: #e8e6e3;
}
::-webkit-input-placeholder{
    color: #e8e6e3;
}
.plane{
    height: 15px;
    width: 15px;
    filter: invert(100%) sepia(100%) saturate(2%) hue-rotate(29deg) brightness(108%) contrast(101%);
}
